In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from regression import Model

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,phone_num,rst_name,before,after1,after2,diff1,diff2,michelin_dummy,if_new
0,050-5890-4736,ビストロjeujeu 銀座コリドー店,3.48,3.48,3.48,0.0,0.00,0.0,0.0
1,050-5869-3647,カルネヴィーノ 銀座,3.70,3.70,3.70,0.0,0.00,0.0,0.0
2,050-5571-3530,文明堂 カフェ 東銀座店,3.51,3.51,3.51,0.0,0.00,0.0,0.0
3,050-5596-7252,YEBISU BAR 銀座二丁目店,3.46,3.46,3.46,0.0,0.00,0.0,0.0
4,050-5594-9494,ワインと炭火串焼 銀座 荻,3.30,3.30,3.30,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...
32255,042-575-3780,チムニー,3.03,3.03,3.03,0.0,0.00,0.0,0.0
32256,0425-73-9161,牛すじトマト煮込み専門店もうまてん,3.10,3.10,3.10,0.0,0.00,0.0,0.0
32257,042-577-8141,手打ち蕎麦 かな井,3.07,3.07,3.09,0.0,0.02,0.0,0.0
32258,042-580-4056,ファミリーマート 矢川駅前店,3.05,3.05,3.03,0.0,-0.02,0.0,0.0
32259,042-572-7950,オレンジハウスすえひろ亭,3.05,3.05,3.05,0.0,0.00,0.0,0.0

# diff1

# Raw data

In [21]:
n = len(df)
Y = df["diff1"]
X = df[["michelin_dummy", "if_new"]]

In [22]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 32260

Regression starts...

Explained variable: diff1

Adjusted R-squared: 0.0012

Two-tailed t-test results:

             Name      Coef   Std Err   t-value   p-value
0      _constant_  0.000470  0.000090  5.211348  0.000000
1  michelin_dummy -0.007088  0.005754 -1.231774  0.216366
2          if_new  0.008553  0.006043  1.415374  0.155524


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.318507
if_new                0.318507  1.000000

# 0.1%

In [6]:
trim_ratio = 0.001
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff1').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff1"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [7]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 32196

Regression starts...

Explained variable: diff1

Adjusted R-squared: -0.0

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.000472  0.000047  10.004451  0.000000
1  michelin_dummy -0.000434  0.000681  -0.637830  0.520789
2          if_new  0.001898  0.001970   0.963704  0.332947


Correlation between independent variables:

                michelin_dummy   if_new
michelin_dummy         1.00000  0.32119
if_new                 0.32119  1.00000

# 0.5%

In [8]:
trim_ratio = 0.005
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff1').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff1"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [9]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 31938

Regression starts...

Explained variable: diff1

Adjusted R-squared: 0.0

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.000361  0.000031  11.701023  0.000000
1  michelin_dummy  0.000214  0.000428   0.500358  0.614190
2          if_new  0.001361  0.001897   0.717218  0.470205


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.324493
if_new                0.324493  1.000000

# 0.10%

In [10]:
trim_ratio = 0.01
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff1').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff1"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [11]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 31614

Regression starts...

Explained variable: diff1

Adjusted R-squared: -0.0

Two-tailed t-test results:

             Name      Coef   Std Err   t-value   p-value
0      _constant_  0.000212  0.000025  8.537766  0.000000
1  michelin_dummy  0.000331  0.000395  0.837951  0.399693
2          if_new  0.000147  0.001044  0.140816  0.885478


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.316575
if_new                0.316575  1.000000

# diff2

# Raw data

In [19]:
n = len(df)
Y = df["diff2"]
X = df[["michelin_dummy", "if_new"]]

In [20]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 32260

Regression starts...

Explained variable: diff2

Adjusted R-squared: 0.0056

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.003723  0.000167  22.278070  0.000000
1  michelin_dummy -0.026002  0.007299  -3.562215  0.000361
2          if_new  0.034860  0.008738   3.989534  0.000065


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.318507
if_new                0.318507  1.000000

# 0.1%

In [14]:
trim_ratio = 0.001
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff2').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff2"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [60]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 32196

Regression starts...

Explained variable: diff2

Adjusted R-squared: 0.0023

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.003565  0.000131  27.311939  0.000000
1  michelin_dummy -0.012315  0.003174  -3.879527  0.000103
2          if_new  0.021331  0.005758   3.704413  0.000208


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.322835
if_new                0.322835  1.000000

# 0.5%

In [15]:
trim_ratio = 0.005
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff2').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff2"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [16]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 31938

Regression starts...

Explained variable: diff2

Adjusted R-squared: 0.0002

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.003295  0.000105  31.249983  0.000000
1  michelin_dummy -0.001105  0.002050  -0.539308  0.586366
2          if_new  0.010391  0.005224   1.989156  0.046327


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.335696
if_new                0.335696  1.000000

# 0.10%

In [17]:
trim_ratio = 0.01
bottom = round(len(df) * trim_ratio)
top = len(df) - bottom

df_trimed = df.sort_values(by='diff2').iloc[bottom:top,:].sort_index()
n = len(df_trimed)

Y = df_trimed["diff2"]
X = df_trimed[["michelin_dummy", "if_new"]]

In [18]:
print(f"Count: {n}\n")
m = Model(Y, X)
m.regression()

Count: 31614

Regression starts...

Explained variable: diff2

Adjusted R-squared: 0.0001

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.003302  0.000091  36.344654  0.000000
1  michelin_dummy  0.001566  0.001437   1.090059  0.273859
2          if_new  0.004465  0.003978   1.122532  0.260070


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.339764
if_new                0.339764  1.000000