In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from regression import Model

# All data

In [28]:
df = pd.read_csv("tabelog.csv")

In [29]:
df.describe()

,score_p0,score_p1,score_p2,michelin_dummy,if_new,not_new,p2-p0,p1-p0
count,32195.000000,32195.000000,32195.000000,32195.000000,32195.000000,32195.000000,32195.000000,32195.000000
mean,3.225399,3.225864,3.228862,0.009256,0.000963,0.008293,0.003463,0.000465
std,0.213204,0.213280,0.212764,0.095764,0.031016,0.090690,0.029468,0.008409
min,3.000000,3.000000,3.000000,0.000000,0.000000,0.000000,-1.180000,-0.130000
25%,3.050000,3.060000,3.060000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.150000,3.150000,3.160000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.360000,3.360000,3.360000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.800000,4.800000,4.680000,1.000000,1.000000,1.000000,0.940000,0.150000

# Explained: p1-p0, Explaining: if_new

In [30]:
Y = df["p1-p0"]
X = df["if_new"]

m = Model(Y, X)
m.regression()

Regression starts...

Adjusted R-squared: -0.0

Two-tailed t-test results:

         Name      Coef   Std Err   t-value   p-value
0  _constant_  0.000464  0.000047  9.888430  0.000000
1      if_new  0.001472  0.001849  0.795977  0.423618

# Explained: p2-p0, Explaining: if_new

In [31]:
Y2 = df["p2-p0"]
X2 = df["if_new"]

m2 = Model(Y2, X2)
m2.regression()

Regression starts...

Adjusted R-squared: 0.0001

Two-tailed t-test results:

         Name      Coef   Std Err    t-value   p-value
0  _constant_  0.003454  0.000164  21.019295  0.000000
1      if_new  0.009127  0.004809   1.898012  0.057121

---

# Michelin only

In [32]:
df2 = pd.read_csv("michelin_only.csv")

# Explained: p1-p0, Explaining: if_new

In [33]:
mY = df2["p1-p0"]
mX = df2["if_new"]

mm = Model(mY, mX)
mm.regression()

Regression starts...

Adjusted R-squared: -0.0006

Two-tailed t-test results:

         Name      Coef   Std Err   t-value   p-value
0  _constant_  0.000037  0.000682  0.054947  0.953739
1      if_new  0.001898  0.001976  0.960509  0.334949

# Explained: p2-p0, Explaining: if_new

In [34]:
mY2 = df2["p2-p0"]
mX2 = df2["if_new"]

mm2 = Model(mY2, mX2)
mm2.regression()

Regression starts...

Adjusted R-squared: 0.0055

Two-tailed t-test results:

         Name      Coef   Std Err   t-value   p-value
0  _constant_ -0.021236  0.007066 -3.005185  0.002624
1      if_new  0.033817  0.008555  3.952933  0.000075

# Explained: p1-p0, Explaining: not_new

In [35]:
mY3 = df2["p1-p0"]
mX3 = df2["not_new"]

mm3 = Model(mY3, mX3)
mm3.regression()

Regression starts...

Adjusted R-squared: -0.0006

Two-tailed t-test results:

         Name      Coef   Std Err   t-value   p-value
0  _constant_  0.001935  0.001855  1.043508  0.294542
1     not_new -0.001898  0.001976 -0.960509  0.334949

# Explained: p2-p0, Explaining: not_new

In [36]:
mY4 = df2["p2-p0"]
mX4 = df2["not_new"]

mm4 = Model(mY4, mX4)
mm4.regression()

Regression starts...

Adjusted R-squared: 0.0055

Two-tailed t-test results:

         Name      Coef   Std Err   t-value   p-value
0  _constant_  0.012581  0.004822  2.609089  0.008987
1     not_new -0.033817  0.008555 -3.952933  0.000075