# __Import libraries and read data__

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from regression import Model

In [2]:
df = pd.read_csv("data.csv")

# Y: diff1
# X: michelin, if_new

In [3]:
Y = df.sort_values(by="diff1").iloc[len(df)//1000:-len(df)//1000,:].sort_index()["diff1"]
X = df.sort_values(by="diff1").iloc[len(df)//1000:-len(df)//1000,:].sort_index()[["michelin_dummy", "if_new"]]

In [4]:
m = Model(Y, X)
m.regression()

Regression starts...

Explained variable: diff1

Adjusted R-squared: -0.0

Two-tailed t-test results:

             Name      Coef   Std Err   t-value   p-value
0      _constant_  0.000467  0.000047  9.954040  0.000000
1  michelin_dummy -0.000430  0.000681 -0.630961  0.525998
2          if_new  0.001898  0.001970  0.963704  0.332947


Correlation between independent variables:

                michelin_dummy   if_new
michelin_dummy         1.00000  0.32119
if_new                 0.32119  1.00000

# Y: diff2 
# X: michelin, if_new

In [5]:
Y = df.sort_values(by="diff2").iloc[len(df)//1000:-len(df)//1000,:].sort_index()["diff2"]
X = df.sort_values(by="diff2").iloc[len(df)//1000:-len(df)//1000,:].sort_index()[["michelin_dummy", "if_new"]]

In [6]:
m = Model(Y, X)
m.regression()

Regression starts...

Explained variable: diff2

Adjusted R-squared: 0.0023

Two-tailed t-test results:

             Name      Coef   Std Err    t-value   p-value
0      _constant_  0.003556  0.000130  27.309183  0.000000
1  michelin_dummy -0.012306  0.003174  -3.876616  0.000104
2          if_new  0.021331  0.005758   3.704413  0.000208


Correlation between independent variables:

                michelin_dummy    if_new
michelin_dummy        1.000000  0.322835
if_new                0.322835  1.000000

# Work

In [73]:
des = pd.read_csv("descriptive.csv")

In [74]:
des

  Unnamed: 0        増減１        増減２  ミシュランダミー変数  新規掲載ダミー変数
0      count  32260.000  32260.000   32260.000  32260.000
1       mean      0.000      0.004       0.009      0.001
2        std      0.018      0.032       0.096      0.031
3        min     -1.360     -1.180       0.000      0.000
4        max      0.670      0.940       1.000      1.000

In [154]:
index = pd.Series(["ミシュランダミー変数", "新規掲載ダミー変数", "定数項"])
diff1 = ['-0.00043 (0.00068)', '0.00190 (0.00197)', '0.00047 (0.00005)']
diff2 = ['-0.01231 (0.00317)', '0.02133 (0.00576)', '0.00356 (0.00013)']
output = pd.DataFrame({
    '増減１': diff1, 
    '増減２': diff2,
}, index = index)

In [156]:
output.to_csv("output.csv")

In [155]:
output

                           増減１                 増減２
ミシュランダミー変数  -0.00043 (0.00068)  -0.01231 (0.00317)
新規掲載ダミー変数    0.00190 (0.00197)   0.02133 (0.00576)
定数項          0.00047 (0.00005)   0.00356 (0.00013)

In [84]:
pd.Series(["abc", 'd', 'e'])

0    abc
1      d
2      e
dtype: object

In [95]:
diff2

0   -0.012306
1    0.021331
2    0.003556
dtype: float64

In [133]:
descr = df.describe()

In [135]:
i, j = 0, 0
for i in range(0, len(descr)):
    for j in range(0, len(descr.columns)):
        descr.iloc[i, j] = round(descr.iloc[i, j] , 3)

In [120]:
descr.iloc[c1,c2 -1]

1.0

In [134]:
descr

,before,after1,after2,diff1,diff2,michelin_dummy,if_new
count,32260.000000,32260.000000,32260.000000,32260.000000,32260.000000,32260.000000,32260.000000
mean,3.225611,3.226023,3.229123,0.000412,0.003512,0.009392,0.000961
std,0.213410,0.213307,0.212990,0.018273,0.031820,0.096460,0.030985
min,3.000000,3.000000,3.000000,-1.360000,-1.180000,0.000000,0.000000
25%,3.050000,3.060000,3.060000,0.000000,0.000000,0.000000,0.000000
50%,3.150000,3.150000,3.160000,0.000000,0.000000,0.000000,0.000000
75%,3.360000,3.360000,3.360000,0.000000,0.000000,0.000000,0.000000
max,4.800000,4.800000,4.680000,0.670000,0.940000,1.000000,1.000000

In [138]:
descr.rename(columns={'diff1':'増減１', 'diff2':'増減２', 'michelin_dummy':'ミシュランダミー変数', 'if_new':'新規掲載ダミー変数'}, inplace=True)

In [140]:
descr.to_csv('descriptive.csv')

In [141]:
descr = pd.read_csv('descriptive.csv')

In [148]:
descr = descr.iloc[[0,1,2,3,-1], :].rename(columns={descr.columns[0]:''})

In [150]:
descr.to_csv("descriptive.csv", index=False)

In [151]:
descr

,,before,after1,after2,増減１,増減２,ミシュランダミー変数,新規掲載ダミー変数
0,count,32260.000,32260.000,32260.000,32260.000,32260.000,32260.000,32260.000
1,mean,3.226,3.226,3.229,0.000,0.004,0.009,0.001
2,std,0.213,0.213,0.213,0.018,0.032,0.096,0.031
3,min,3.000,3.000,3.000,-1.360,-1.180,0.000,0.000
7,max,4.800,4.800,4.680,0.670,0.940,1.000,1.000